@font-face {
  font-family: Metropolis-Medium;
  src: url("font/Metropolis-Medium.otf"), url("font/Metropolis-Medium.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Bold;
  font-weight: bold;
  src: url("font/Metropolis-Bold.otf"), url("font/Metropolis-Bold.otf") format("opentype");
}

#mainContent {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

#gameDiv {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 95vh;
}

html,
body,
.login-box {
  background: url('/images/background/poker.png') no-repeat center center fixed;
  background-size: cover;
  height: 95%;
}

.card {
  margin-right: auto !important;
  margin-left: auto !important;
}

body {
  font-family: Metropolis-Medium;
}

code {
  font-size: 24px;
  background-color: #ebebeb;
}

.playingCard_black {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 135px;
  width: 90px;
  color: black;
  padding: 5px;
  margin: 8px;
  font-size: 28px;
}

#usernamesMoney {
  font-size: 30px;
  min-height: 219px;
}

.playingCard_red {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 135px;
  width: 90px;
  color: red;
  padding: 5px;
  margin: 8px;
  font-size: 28px;
}

.menuButtons {
  zoom: 0.8;
  margin: 2px;
}

.card-content {
  font-size: 16px;
}

.theirTurn {
  border: 5px solid yellow;
}

.playingCard_red_opponent {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 84px;
  width: 60px;
  color: red;
  padding: 5px;
  margin: 4px;
  font-size: 18px;
}

.playingCard_black_opponent {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 84px;
  width: 60px;
  color: black;
  padding: 5px;
  margin: 4px;
  font-size: 18px;
}

.blankCard {
  float: left;
  background: url('/images/cards/BackCard.png') no-repeat center center;
  background-size: cover; /* This will ensure that the background covers the entire element */
  border: none; /* Removing the border as per your previous request */
  border-radius: 5px;
  height: 84px; /* You may adjust this depending on the aspect ratio of your card image */
  width: 60px; /* You may adjust this depending on the aspect ratio of your card image */
  padding: 10px;
  margin: 4px;
}

.selected {
  background: grey;
  border: 2px solid red;
}

#divStart {
  text-align: center;
}

.modal {
  position: absolute;
}

.toast {
  position: relative;
  z-index: -1 !important;
}

.playingCard_black, .playingCard_red {
  width: 100px; /* or any size you want */
  height: 140px; /* or any size you want */
  display: inline-block; /* to contain the image */
  background-color: transparent; /* Remove the white background */
  border: none; /* Remove the boarder */
}

.playingCard_black img, .playingCard_red img {
  max-width: 100%;
  height: auto;
}

.custom-card {
  background-color: #ff0000; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines as needed */
  margin: 10px 0;
}

/* Community Cards Section - Adjust width for different screen sizes */
.community-cards {
  flex: 1 1 auto; /* Allow it to grow and shrink */
  max-width: 70%; /* Adjust as needed */
}

/* Status Card Section - Make it more responsive */
.smaller-status-card {
  flex: 1 0 25%; /* Allow it to shrink but not grow, with a base width */
  margin-left: 20px; /* Space between cards */
  max-width: 25%; /* Max width to control size */
}

/* Ensure that on smaller screens, the layout stacks vertically */
@media screen and (max-width: 768px) {
  .community-cards,
  .smaller-status-card {
      flex: 1 0 100%; /* Take full width on small screens */
      max-width: 100%; /* Full width */
      margin-left: 0;
  }
}
